* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  text-align: center ;
}
form{
  background: silver;
  width:300px;
  height:500px;
  text-align:center ;
  margin:auto;
}
#calculadora{
  position:relative ;
  top:50px ;
  left:350px ;
}
input{
  width:200px;
  height:20px;
  background:lightSteelBlue;
}
label{
  
  position:relative;
  left: 100px ;
  top:30px;
}
#label2{
  position:relative ;
  left :100px ;
  top:60px ;
}
input{
  position:relative ;
  right :25px ;
  top: 50px ;
}
#n2{
  position:relative ;
  right :25px ;
  top: 80px ;
}
button{
  background: white;
  width:50px ;
  height:50px ;
  position:relative ;
  left :100px ;
  top: 200px ;
}
#s{
  position:relative ;
  left :30px ;
  top: 100px ;
}
#r{
  position:relative ;
  left :70px ;
  top: 100px ;
}
#m{
  position:relative ;
  left :150px ;
  top: 280px ;
}
#d{
  position:relative ;
right: 20px ;
  top: 190px ;
}
div{
  
  width :100px;
  height:100px;
  position:relative ;
  left :50px ;
  top: 350px ;
}