*{
  margin: 0px;
  padding:0px;
  text-align :center ;
}
div{
  background: cornsilk;
  width :500px ;
  height :500px;
  margin: auto;
  display :flex;
  justify-content: center;
  align-items: center ;
}
.fils{
  background: padding-box;
  width :100px ;
  height :100px;
}
table{
  text-align :center ;
  display:flex ;
  justify-items:center ;
  
 
}